/*start of imports */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

/*End of imports*/

* {
    margin: 0%;
}

::-moz-selection {
    color: white;
    background-color: red;
}

::selection {
    color: white;
    background-color: red;
}

body {
    background-color: rgb(227, 227, 227);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Screen Breckpoints*/

@media screen and (max-width: 1080px) {
    .down {
        display: block !important;
    }
    .left-label {
        margin-top: 20px;
        margin-left: 15px !important;
    }
    .left-holder {
        margin-top: 60px !important;
        margin-left: 20px !important;
    }
    .email-input {
        margin-top: 120px !important;
    }
    .email {
        margin-top: 90px;
    }
    .div-design {
        margin-top: 150px !important;
    }
    .input-div {
        width: 50% !important;
    }
    .left-holder {
        width: 45% !important;
    }
}

@media screen and (max-width: 921px) {
    
    .contact-us-div {
        margin-left: 45% !important;
        width: 40% !important;
    }
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.div-design {
    width: 100%;
    height: 380px;
    background-color: rgb(250, 36, 36);
    position: absolute;
    margin-top: 110px;
    z-index: 1;
}

.nav-header {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
}

a {
    color: black;
    text-decoration: none;
}

.head-1 {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 36px;
    font-weight: 800;
    font-family: 'Dosis', sans-serif;
}

.address {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    margin-left: 50px;
    padding-bottom: 40px;
}

.social-icons {
    margin-top: 10px;
    
}
.down {
    display: none;
}

svg {
    padding-left: 10px;
}

.nav-page {
    margin-top: 25px;
    position: absolute;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    margin-left: 60%;
}

.page-2 {
    margin-left: 70% !important;
}

.page-3 {
    margin-left: 80% !important;
}

.page-4 {
    margin-left: 90% !important;
}

.logo-head {
    margin-top: 25px;
    margin-left: 160px;
    position: absolute;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Dosis', sans-serif;
}

.nav-logo {
    margin-left: 80px;
    margin-top: 10px;
}

.contact-us-div {
    background-color: white;
    position: relative;
    width: 32%;
    padding-bottom: 30px;
    margin-left: 55%;
    margin-top: 80px;
    z-index: 2;
}

.form-div {
    margin-left: 30px;
    margin-top: 20px;
}

.text-head {
    padding-top: 15px;
    padding-left: 30px;
    color: black;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Dosis', sans-serif;
}

label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
}



.left-label {
    position: absolute;
    margin-left: 40px;
}

.left-holder {
    position: absolute;
    margin-top: 35px;
    height: 30px;
    margin-left: 43px;
    border-top: 0px;
    border-left: 0px;
    width: 35%;
    border-right: 0px;
    border-color: rgb(250, 36, 36);
    
}

input:focus {
    outline: none;
}

.email-input {
    width: 70% !important;
}

.input-div {
    margin-top: 35px;
    height: 30px;
    width: 35%;
    margin-left: 18px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(250, 36, 36);
}

.submit-button:hover {
    background-color: rgb(217, 208, 36);
    transition: 0.8s;
}

.submit-button {
    background-color: rgb(250, 36, 36);
    border: 0px;
    border-radius: 4px;
    transition: 0.8s;
    width: 100px;
    height: 40px;
    margin-left: 18px;
    margin-top: 15px;
}

.footer-div {
    height: 10%;
    margin-top: 110px;
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    background-color: white;
}

