/* Start of Imports */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

/* End of Imports */

* {
    margin: 0px;
    overflow-x: hidden;
    overflow-y: visible;
}

.wrapper {
    transition: 0.8s;
    padding-bottom: 50px;
}

body {
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    color: white;
    background-color: rgb(0, 0, 23);
    padding-bottom: 100px;
    overflow: hidden;
    
}

.navigator {
    height: 65px;
    width: 100%;
    text-align: center;
    font-family: cursive;
    font-size: 24px;
    padding: 10px;
    overflow-y: hidden;
}


.addNote {
    position: fixed;
    right: 60px;
    bottom: 50px;
    background-color: white;
    border: 0px;
    min-width: 70px;
    min-height: 70px;
    border-radius: 35px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 40px;
    transition: 0.8s;
    cursor: pointer;
    transition: 0.5s;
}

.addNote:hover {
    background-color: rgb(186, 202, 234);
}

.folder1 {
    width: 20%;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin-left: 10%;
    margin-top: 50px;
    display: inline-block;
    transition: 0.4s;
    
}

.folder1:hover {
    transform: scale(1.1);
    margin-bottom: 100px;
}

.listNotes {
    overflow: hidden;
    padding-bottom: 40px;
}

.folderHeader {
    height: 30px;
    background-color: rgb(186, 202, 234);
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Balsamiq Sans', cursive;
}
.folderDetails {
    padding: 10px 10px 10px 10px;
    font-family: 'Titillium Web', sans-serif;
}

.window {
    position: fixed;
    width: 42%;
    height: 320px;
    background-color: white;
    margin-top: 12%;
    margin-left: 28%;
    padding: 30px;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    transition: 0.3s ease-out;
    padding: 0;
    overflow-y: hidden !important;
}

.window:hover {
    transform: scale(1.1);
}

.windowText {
    display: inline-block;
    height: 100%;
    width: 58%;
}
.imageDiv {
    display: inline-block;
    height: 100%;
    width: 40%;
    background-image: url("./backimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    color: black;
    font-family: 'Titillium Web', sans-serif;
    margin-left: 20px;
    font-size: 16px;
}

.headerInput {
    margin-left: 20px;
    font-size: 14px;
    border-top: 0px;
    border-left: 0px;
    width: 80%;
    border-right: 0px;
    font-family: 'Titillium Web', sans-serif;
    border-color: rgb(36, 93, 250);
}

.textHolder {
    margin-left: 20px;
    font-family: 'Titillium Web', sans-serif;
    border-top: 0px;
    border-left: 0px;
    font-size: 14px;
    width: 80%;
    height: 80px;
    border-right: 0px;
    border-color: rgb(36, 93, 250)
}

.divTemp {
    height: 30px;
}

.addButton {
    height: 30px;
    background-color: rgb(186, 202, 234);
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    margin-left: 73%;
    margin-top: 15px;
    transition: 0.5s;
}

.addButton:hover {
    background-color: rgb(62, 112, 250);
    color: white;
}
