/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* End of Imports */


* {
    margin: 0px;
}

body {
    background-color: #46C2CB;
}

.glass-effect {
    background-color: white;
    width: 80%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-top: 60px;
    opacity: 0.8;
    border-radius: 10px;
}

.to-do-head {
    /* font-family: 'Space Grotesk', sans-serif; */
    font-family: 'Handlee', cursive;
    font-size: 48px;
}
.userinput {
    font-family: 'Space Grotesk', sans-serif;
    width: 40%;
    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    margin-left: 25px;
    margin-top: 50px;
    resize: none;
}

.addbutton {
    position: absolute;
    margin-top: 75px;
    margin-left: 10px;
    width: 45px;
    border: 0px;
    background-color: #46C2CB;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Space Grotesk', sans-serif;
    height: 30px;
}

.checkbox {
    padding: 10px;
    position: absolute;
    margin-top: 30px;
    height: 20px;
    width: 20px;
}


.reset {
    margin-left: 80%;
    width: 100px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
}

ul {
    margin-top: 80px;
    margin-left: 10%;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}