.messenger {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #fff;
}

.settings--div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}

.loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: #fff;
}

.loading--wrap {
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.outer--loader {
  padding: 2px 3px;
  border: 2px solid #000;
  margin-top: 10px;
  border-radius: 15px;
}

.loader {
  border: 2px solid #000;
  border-radius: 10px;
  width: 200px;
  height: 20px;
  background: linear-gradient(130deg, #000000 8%, #474747 18%, #000000 33%);
  background-size: 200% 100%;
  animation: shine 1s linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.dashboard {
  width: 380px;
  height: 99.6vh;
  padding-right: 20px;
  border: solid 2px black;
  background-color: #fff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.m--header {
  display: flex;
  width: fit-content;
  margin: 15px auto;
}

.m-header--logo {
  width: 60px;
}

.m-header--title {
  font-size: 30px;
  margin-left: 10px;
  margin-top: 7px;
}

.search--box {
  width: fit-content;
  margin: 30px auto;
}

.search {
  box-sizing: border-box;
  width: 340px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50px;
  padding: 2px 20px;
  margin-bottom: -10px;
}

.chat--profiles {
  width: 340px;
  height: calc(100vh - 250px);
  margin: 20px auto;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 10px;
}
::-webkit-scrollbar {
  display: none;
}

.display--none {
  display: none;
}

.getin--started {
  margin-left: 20px;
}

.profile {
  display: flex;
  height: 55px;
  width: 335px;
  border: solid 2px black;
  border-radius: 30px;
  padding-top: 5px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.profile:hover {
  outline: solid 1px black;
}

.user--name {
  font-weight: 700;
}

.user--email {
  font-size: 15px;
}

.user--logo {
  width: 50px;
  height: 42px;
  border: solid 2px black;
  border-radius: 48%;
  text-align: center;
  padding-top: 7px;
  font-size: 28px;
  margin-left: 6px;
  margin-top: -1px;
}

.user--information {
  width: 270px;
  margin-left: 10px;
  margin-top: 4px;
}

.limitlength {
  width: 250px;
  height: 20px;
  overflow: hidden;
}

.user--profile {
  display: flex;
  padding-left: 8px;
}

.options {
  margin-top: 8px;
  cursor: pointer;
}

.options:hover {
  scale: 1.04;
}

.message {
  width: calc(100vw - 380px);
  height: 100vh;
  background-color: #fff;
}

.message--layout {
  position: relative;
  width: 96%;
  height: 96%;
  margin: 1% auto;
  background-color: #ffffff;
  border: solid 2px black;
}

.welcome {
  position: relative;
  text-align: center;
  margin-top: 28vh;
}

.welcome summary {
  width: 70%;
  margin: 10px auto;
}

.endline {
  width: 110%;
  margin-top: -20px;
  border: solid 1px black;
  margin-bottom: 16px;
}

.search--result {
  width: 335px;
  max-height: 60vh;
  overflow: scroll;
  scrollbar-color: #fff #000;
  padding: 10px 10px;
  margin-top: 20px;
  position: absolute;
  margin-left: -5px;
  background-color: black;
}

.no--users {
  color: #fff;
  text-align: center;
}
