.userchats {
  width: 100%;
  height: 100%;
  position: relative;
}

.user--profile--chats {
  display: flex;
  padding: 10px;
  border-bottom: solid 2px;
}
.padding--left {
  padding-left: 10px;
}

.chats--space {
  border-bottom: 2px solid #000;
  height: calc(100% - 280px);
  display: flex;
  overflow: scroll;
  scrollbar-color: #000 #000;
  position: relative;
  flex-direction: column;
}

.chat--tools {
  height: 200px;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
}

.scribble--pad--tools {
  width: 45%;
  height: 193px;
  border: solid 2px black;
}

.tools {
  width: 35%;
}

.tools--btn {
  text-align: center;
  width: 100%;
  padding: 2px;
  border: solid 2px black;
  margin-left: 30px;
  margin-top: 10px;
  background-color: #fff;
  transition: 0.3s;
}

.tools--btn:hover {
  background-color: #000;
  color: #fff;
}

.send {
  margin-left: 100px;
  margin-top: 50px;
  border: solid 2px;
  height: fit-content;
  border-radius: 50%;
  padding: 5px 10px;
  padding-top: 8px;
  background-color: #fff;
  transition: 0.4s;
}

.send--img {
  width: 40px;
}

.send:hover {
  filter: invert(1);
}

.s--chat--main {
  display: flex;
  margin: 10px;
}

.user--chat--content {
  height: 195px;
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
  border: solid 2px black;
}

.reciver {
  flex-direction: row-reverse;
  justify-content: end;
}
