.main {
  width: 80vw;
  height: 90vh;
  background-color: #fff;
  border-radius: 15px;
  margin: 5vh auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-wrap: nowrap;
}

.signup {
  width: 50%;
  background-color: red;
  height: 100%;
}

.login {
  width: 50%;
  background-color: blue;
  height: 100%;
}
