.main {
  background-color: #fff;
}

.background--head {
  position: absolute;
  margin-top: 18vh;
  font-size: 180px;
  margin-left: 9vw;
  letter-spacing: 1px;
}
.background--head--filter {
  width: 450px;
  height: 75vh;
  margin-left: 34vw;
  padding: 20px;
  position: absolute;
  background-color: white;
  /* opacity: 0.9; */
  z-index: 2;
  padding-left: 30px;
}

.login {
  width: 450px;
  height: 75vh;
  border: solid 4px black;
  margin: 10vh auto;
  padding: 20px;
  position: relative;
  z-index: 3;
  padding-left: 30px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
}

.logo--header {
  font-size: 35px;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 6px;
}

.login::after,
.login::before {
  width: 200px;
  height: 300px;
  content: "";
  display: block;
  position: absolute;
  z-index: -10;
}

.login::before {
  left: -10px;
  top: -10px;
  border-top: solid 2px black;
  border-left: solid 2px black;
}

.login::after {
  right: -10px;
  bottom: -10px;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}

.login--main {
  margin-top: 30px;
}

.input--box {
  width: 90%;
  height: 10px;
  background-color: white;
  border: solid 2px black;
  font-family: "Space Grotesk", sans-serif;
  padding: 10px;
  font-size: 13px;
  margin: 10px auto;
}

.padding {
  padding-top: 20px;
}

input:focus {
  outline: none;
  border: solid 3px black;
}

.forgot--div {
  width: 95%;
  position: relative;
}

.forgot {
  font-size: 13px;
  position: absolute;
  right: 0;
}

.forgot:hover {
  font-weight: 600;
  cursor: pointer;
}

.login--btn {
  width: 95%;
  height: 30px;
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid black;
  font-weight: 600;
  transition: 0.3s;
}

.login--btn:hover {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}

.oauth {
  display: flex;
  width: 200px;
  margin: 20px auto;
  padding-right: 30px;
  justify-content: space-between;
}

.oauth--icon {
  width: 45px;
  height: 45px;
  border: solid 2px black;
  border-radius: 50%;
  transition: 0.6s;
}

.oauth--icon:hover {
  background-color: #000000;
  filter: invert(1);
}

.oauth svg {
  z-index: -1;
  position: relative;
}
