.main {
  background-color: #fff;
}

.login {
  width: 480px;
  height: 75vh;
  border: solid 4px black;
  margin: 10vh auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.login::after,
.login::before {
  width: 200px;
  height: 300px;
  content: "";
  display: block;
  position: absolute;
  z-index: -10;
}

.login::before {
  left: -10px;
  top: -10px;
  border-top: solid 2px black;
  border-left: solid 2px black;
}

.login::after {
  right: -10px;
  bottom: -10px;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}

.login--main {
  margin-top: 40px;
}

.input--box {
  width: 90%;
  height: 10px;
  background-color: white;
  border: solid 2px black;
  font-family: "Space Grotesk", sans-serif;
  padding: 10px;
  font-size: 13px;
  margin: 10px auto;
}

input:focus {
  outline: none;
}
