
/* imports */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&display=swap');
@import url('https://db.onlinewebfonts.com/c/a8a61c251907c1e48b8224c5956c7110?family=Mentone+Lig');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* End of imports */

* {
    margin: 0;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: rgb(178, 178, 178);
}

a:hover {
    color: white;
    font-weight: 500;
}

.nav-bar {
    z-index: 100;
    width: 100%;
    color: rgb(178, 178, 178);
    height: 55px;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}


.nav-pc {
    position: absolute;
    font-weight: 300;
    margin-top: 18px;
    margin-left: 18%;
}

.nav-console {
    position:absolute;
    font-weight: 300;
    margin-top: 18px;
    margin-left: 24%;
}

.nav-mob {
    position: absolute;
    font-weight: 300;
    margin-top: 18px;
    margin-left: 32%;
}

.nav-life {
    position: absolute;
    font-weight: 300;
    margin-top: 18px;
    margin-left: 40%;
}

.nav-services {
    position: absolute;
    font-weight: 300;
    margin-top: 18px;
    margin-left: 49%;
}

.nav-community {
    position: absolute;
    font-weight: 300;
    margin-top: 18px;
    margin-left: 58%;
}

.nav-support {
    position: absolute;
    font-weight: 300;
    margin-top: 18px;
    margin-left: 67%;
}

.nav-store {
    position: absolute;
    margin-top: 18px;
    margin-left: 75%;
    font-weight: 300;
}

.logo-png {
    position: absolute;
    width: 38px;
    height: 38px;
    margin-top: 8px;
    margin-left: 11%;
}

hr {
    border-color: rgb(10, 255, 2);
    z-index: 100;
    position: sticky;
    top: 0px;
}

.laptop-buy {
    position: sticky;
    top: 2px;
    z-index: 100;
    height: 60px;
    width: 100%;
    background-color: rgb(23, 23, 23);
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.laptop-name {
    margin-top: 20px;
    font-weight: 400;
    margin-left: 10%;
    position: absolute;
}

.search-svg {
    position: absolute;
    margin-top: 11px;
    margin-left: 81%;
}

.cart-div {
    position: absolute;
    margin-top: 15px;
    margin-left: 87%;
}

.buy-button {
    margin-left: 85%;
    height: 30px;
    width: 60px;
    background-color: rgb(10, 255, 2);
    border: 0px;
    border-radius: 5px;
    margin-top: 15px;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    font-size: 15px;
}

.price-div {
    margin-top: 20px;
    position: absolute;
    display: inline-block;
    margin-left: 80%;
}


.background-img {
    width: 100%;
    display: inline;
}

.lap-new {
    position: absolute;
    color: rgb(10, 255, 2);
    display: inline;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 43%;
}

.lap-name {
    position: absolute;
    display: inline;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    font-size: 35px;
    margin-top: 40px;
    margin-left: 43%;
}

.lap-ver {
    position: absolute;
    display: inline;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 56%;
}

.intel-img {
    position: absolute;
    z-index: 2;
    margin-left: 35%;
    margin-top: 150px;
}

.features {
    color: white;
    position: absolute;
    margin-left: 33%;
    margin-top: 90px;
    font-size: 38px;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
}

.gtx {
    position: absolute;
    margin-left: 55%;
    margin-top: 150px;
}

.details {
    padding-bottom: 200px;
    width: 100%;
}


.img-ulist {
    list-style-type: none;
    overflow: hidden;
}

.img-list{
    float: left;
    margin-top: 80px;
    padding-left: 14%;
}

.details-ulist {
    list-style-type: none;
    margin-top: 40px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
    margin-left: 5%; 
}

.details-list {
    text-align: center;
    width: 240px;
    padding-left: 4.5%;
    float: left;
}

.details-ulist-2 {
    list-style-type: none;
    padding-left: 6%;
    margin-top: 80px;
    color: rgb(178, 178, 178);
    font-size: 17px;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
}

.details-list-2 {
    text-align: center;
    width: 240px;
    margin-top: 20px;
    padding-left: 5%;
    float: left;
}
.laptop-video {
    height: 550px;
}


.lap-specs {
    width: 100%;
    height: 300px;
    color: white;
    background-color: rgb(23, 23, 23);
    padding-top: 70px;
    font-family: 'Inconsolata', monospace;
    align-items: center;
    text-align: center;
    
}

.specs-text {
    font-size: 30px;
    font-weight: 500;
}

.specs-ul {
    margin-left: 16%;
    margin-top: 60px;
    list-style-type: none;
}

.specs-img {
    float: left;
    padding-left: 80px;
    font-size: 18px;
    font-weight: 400;
}

.img-specs {
    width: 100px;
    height: 100px;
}

.shop-now {
    height: 400px;
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    padding-top: 40px;
    font-weight: 400;
    align-items: center;
    text-align: center;
}



